#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.main{
  height: 550px;
    width: 900px;
    background-color: #8d691d;
    margin:0px;
}
.inner{
  height: 550px;
  display:flex;
  justify-content:center;
  align-items:flex-end;
}
